<service-group>
  <name>role</name>
  <service>
    <type>_display._tcp</type>
    <port>22</port>
    <txt-record>event</txt-record>
  </service>
</service-group>
